@font-face {
    font-family: "Midiet";
    src: url("Midiet_Sans_Bold.otf");
}

a:link {
    color: #834546;
}
a:visited {
    color: black;
}
a:hover {
    background-color: #FEE6E7;
}
a:active {
    background-color: #FEE6E7;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 2em 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Midiet;
    margin: 0;
}

header h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.2em;
    margin: 1em 0;
    padding: .3em .5em .2em;
    box-shadow: -3px -3px 0 black;
}

h4 {
    font-size: 1.2em;
    margin: 1em;
    padding: .3em .5em .2em;
    background-color: #FEE6E7;
}

nav {
    text-align: right;
    float: right;
    margin: 0 0 0 1em;
}

nav a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    border: solid black 2px;
    padding: .2em .4em;
    box-shadow: 3px 3px 0 #FCC3BC;
    margin: 0 0 .5em;
}

section {
    width: 600px;
    margin: 2em auto;
    border: solid black 10px;
    padding: 1em;
    box-shadow: 10px 10px 0 #FCC3BC;
}

ul, ol {
    padding-left: 30px;
}

li {
    margin: .2em 0;
}

p {
    line-height: 1.2em;
}

footer {
    text-align: center;
    margin: 0 0 1em;
}